body{
    background-color: rgb(248, 248, 248);
}

.categoryBox{
    background-color: #ffffff;
    padding: 36px;
    margin-bottom: 24px;
    border: 1px solid rgb(199, 199, 199);
}

.categoryHeader{
    font-weight: 600;
}

.categoryHeader i{
    margin-right: 12px;
}

.customButton{
    background-color: #407EC9;
    color: white;
}

.customButton:hover{
    background-color: rgb(32, 32, 32);
    color: white;
}

.newButton{
    margin-right: 2px;
    background-color: #407EC9;
    color: white;
}

.newButton:hover{
    background-color: white;
    border: 1px solid #407EC9;
}

.newButton:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

.skipButton{
    background-color: rgb(27, 27, 27);
    color: white;
    box-shadow:none;
}

.skipButton:hover{
    background-color: white;
    border: 1px solid black;
}

.skipButton:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

.saveButton{
    background-color: #28a745;
    color: white;
}

.saveButton:hover{
    background-color: #1d8b37;
    color: white;
}

.deleteButton{
    background-color: #FF6D6A;
    color: white;
}

.deleteButton:hover{
    background-color:  #D22730;
    color: white;
}
